.HomePage {
    background-color: #1D262F;
    padding: 0 2rem;

}


.Moviesgrid {
    padding: 0 0rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    padding: 2rem 0rem;
}
