body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #1D262F;
  height: 100vh;
}